package com.kurume_nct.meshitter.twitter

/**
 * Created by gedorinku on 2017/07/26.
 */
object Secrets {

    val apiKey : String = "computer vision api key"
    val consumerKey = "consumer key"
    val consumerSecret = "consumer secret"
    val accessToken = "access token"
    val accessTokenSecret = "access token secret"
}